@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
p{
    margin: 0;
}
.fluid{
    min-height: 100vh;
    .welcome-bar{
        background-color: #FDB813;
        padding: 15px 0;
        border-bottom: 0.5px solid #33333316;
        p,a,i{
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #333333;
        }
        .divider{
            width: 1px ;
            height: 20px;
            background-color: black;
        }
    }
    .nav-bar{
        background-color: #FDB813;
        padding: 25px 0;
        img{
            width: 67px;
            height: 16px;
            object-fit: cover;
        }
        i.menu-icon{
            font-size: 30px;
            border: 1px solid #333333;
            color: #333333;
        }
        nav{
            .search{
                width: 50%;
                input{
                    width: 90%;
                    padding: 12px 30px;
                    border: none;
                    outline: none;
                    border-radius: 8px 0 0 8px;
                }
                i{
                    background-color: #333333;
                    color: white;
                    font-size: 30px;
                    padding: 9px;
                    border-radius: 0 8px 8px 0;
                }
            }
            .service{
                i{
                    font-size: 40px;
                    color: #333333;
                }
                p.phone-num{
                    font-weight: 700;
                }
            }
        }
    }
}